autoload -Uz compinit && compinit

# -- ANTIDOTE --
F=~/.antidote/antidote.zsh; [ -f $F ] && . $F

antidote load
# -- ANTIDOTE END --

ZSH_THEME="agnoster"

# Initialize Base16 Shell
BASE16_SHELL="$HOME/.config/base16-shell/scripts/base16-eighties.sh"
[[ -s $BASE16_SHELL ]] && . $BASE16_SHELL

# -- ALIASES --
alias au="antidote update"
alias cd="z"
alias dco="docker compose"
alias dcup="docker compose up"
alias dcupd="docker compose up -d"
alias dcdn="docker compose down"
alias lag="lazygit"
alias reload="source ~/.zshrc"
alias sail='sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'
alias vi="nvim"
alias vim="nvim"
alias ze="subl ~/.zshrc"
# -- ALIASES END --

# -- ABBREV ALIASES --
# -- ABBREV ALIASES END --

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
eval "$(zoxide init zsh)"

[[ -s "$HOME/.jabba/jabba.sh" ]] && . "$HOME/.jabba/jabba.sh"

{{- if .nvm.enabled }}source $(brew --prefix nvm)/nvm.sh export NVM_DIR=$HOME/.nvm{{ end }}
{{ if eq .chezmoi.hostname "zylo-vince-ruby" }}
export PATH="$HOME/Library/Python/3.11/bin:$PATH"
export NPM_TOKEN={{ onepasswordRead "op://lxjtvq4jgf77qkjac5wxrfbope/x23vzat5op74y3hovipr7s2uva/credential" }}

# Include zy CLI to be available in shells
[[ -s "$HOME/src/zy-cli/shell/zsh.sh" ]] && . "$HOME/src/zy-cli/shell/zsh.sh"
eval "$(pyenv init -)"
{{ end }}