export VOLTA_FEATURE_PNPM=1
{{- if eq .chezmoi.os "darwin"}}
export XDG_CONFIG_HOME="$HOME/.config"
{{- end }}

autoload -Uz compinit && compinit

# -- ANTIDOTE --
F=~/.antidote/antidote.zsh; [ -f $F ] && . $F

antidote load
# -- ANTIDOTE END --

# -- ALIASES --
alias au="antidote update"
alias cd="z"
alias cm="chezmoi"
alias dco="docker compose"
alias dcup="docker compose up"
alias dcupd="docker compose up -d"
alias dcdn="docker compose down"
alias lad="lazydocker"
alias lag="lazygit"
alias reload="source ~/.zshrc"
alias sail='sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'
alias vi="nvim"
alias vim="nvim"
alias ze="subl ~/.zshrc"
# -- ALIASES END --

# -- ABBREV ALIASES --
# -- ABBREV ALIASES END --

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
eval "$(zoxide init zsh)"
eval "$(starship init zsh)"

[[ -s "$HOME/.jabba/jabba.sh" ]] && . "$HOME/.jabba/jabba.sh"

{{ if eq .chezmoi.hostname "zylo-vince-ruby" -}}
export PATH="$HOME/Library/Python/3.11/bin:$PATH"
export NPM_TOKEN={{ onepasswordRead "op://lxjtvq4jgf77qkjac5wxrfbope/x23vzat5op74y3hovipr7s2uva/credential" }}

# Include zy CLI to be available in shells
[[ -s "$HOME/src/zy-cli/shell/zsh.sh" ]] && . "$HOME/src/zy-cli/shell/zsh.sh"
eval "$(pyenv init -)"
{{ end -}}
