{{- if eq .chezmoi.os "linux" -}}
[credential "https://github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
[github]
    user = vsruby
[init]
    defaultBranch = main
[user]
    email = {{ .customGit.email | default "test@example.com" }}
    name = Vince Ruby
